<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <br>
  <div class="intro">
    <h2>後出し大喜利アプリ「Allgiri」へようこそ！</h2>
    <p>後出し大喜利とは、大喜利のお題の一部をあらかじめ隠した状態で回答を考え、最後にお題と回答を照らし合わせる変わった大喜利です。</p>
    <p>参加者には役割を自分で決めてもらいます。選べる役割は「お題作成者」と「回答者」の２つです。</p>
    <table>
      <tr>
        <td>お題作成者</td>
        <td>あらかじめ用意されている大喜利のお題で、隠される部分の入力を担当します。お題のフォーマットの穴埋めをします。</td>
      </tr>
      <tr>
        <td>回答者</td>
        <td>お題の一部分が隠されたものを元に、回答をしてもらいます。隠されている部分を予測して回答を入力します。</td>
      </tr>
    </table>
  </div>
</body>

</html>